<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
    <!-- FOOTER -->
    <footer class="footer"  th:fragment="footer"  xmlns:th="http://www.thymeleaf.org">
        <div class="container">
            <th></th>
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        COPYRIGHT &copy; 2020. ALL RIGHT RESERVED
                        <div>
                            Made <i class="ion-heart"></i> by <a href="#">DiNikOs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /FOOTER -->
</body>
</html>